<?xml version="1.0" encoding="utf-8"?><!-- suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usmankhan.workoutadvisor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WorkOut" />
        <activity android:name=".OverFlow" />
        <activity android:name=".AnimatedBtn" />
        <activity android:name=".Intented">

        </activity>
        <activity android:name=".Redirected" />

        <service android:name=".IntentedServices" />
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Bound">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".Bounding"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>